[Unit]
Description=Gollum - Gollum wiki service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/opt/wiki
User=gollum
ExecStartPre=/usr/bin/git reset --hard
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/local/bin/gollum --port {{ wiki_port }} --no-edit .

[Install]
WantedBy=multi-user.target
