#!/bin/sh

/usr/bin/knime -nosplash -application org.eclipse.equinox.p2.director \
-profile KNIMEProfile -destination {{ knime_root }} \
-repository $2 -installIU $1
touch {{ knime_root }}/$1.installed
